@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@layer utilities{
.noto-serif-font {
  font-family: "Noto Serif", serif;
}
.bg-color{
  color: #F5F8FF;
}
}
@media screen and (max-width: 570px) {
  .navbar{
    justify-items: center;
    align-items: center;
    max-width: 361px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .logo{
    width: 63px;
  }
 .nav-1{
  display: none;
 }
 .cart{
  margin-right: 16px;
 }
 .hero-section{
  display: flex;
  flex-direction: column-reverse;
 }
 .hero-section div{
  margin-top: 28px;
  max-width: 90%;
 }
 .hero-section img{
  width: 100%;
 }
 .hero-section h1{
  font-size: 1.5rem;
 }
 .hero-section p{
  font-size: 0.9rem;
 }
 .our-plants{
   max-width: 362px;
  margin: 0 auto;
 }
 .product-card{
  grid-template-columns: repeat(2,1fr);
 }
 .product-card button{
  padding: 19px 31px 19px 31px;
 }
}
